SelfHostWebApiOwin.Business/obj
SelfHostWebApiOwin.Business/bin
SelfHostWebApiOwin.v11.suo
SelfHostWebApiOwin/bin
SelfHostWebApiOwin/obj
SelfHostWebApiOwinConsole/bin
SelfHostWebApiOwinConsole/obj
SelfHostWebApiOwin/obj
